node_modules/*
vendor/*
.DS_Store
bin/*
!app/cache/.gitkeep
app/cache/*
!app/logs/.gitkeep
app/logs/*
web/bundles/*
.sass-cache/*
web/assets/css/*
.jsbeautifyrc
web/assets/FilterableSongList.js
web/assets/bundle.js
