{% extends 'base.html.twig' %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block content %}
<div id="song-area"></div>
{% endblock %}

{% block javascripts %}
<script src="/assets/FilterableSongList.js"></script>
{% endblock %}
