<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap-theme.min.css">
    <title>Media Site</title>
  </head>
<body>

  <div class="container">
    <div class="header">
    <h1>{% block page_title %}{% endblock %}</h1>
    <h2>{% block page_sub_title %}{% endblock %}</h2>
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <script src="js/vendor/jquery-1.11.2.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/react.js"></script>

  <script src="js/songlist.js"></script>
  {% block javascript %}{% endblock %}
  </body>

</html>